body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#navigation-bar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #2ea774;
}

#logo {
  margin-top: 0px;
}

.navigation {
  margin-top: 10px;
}

.navigation > a {
  text-decoration: none;
}

.input-luas-section {
  display: flex;
  flex-direction: column;
}

.input-keliling-section {
  display: flex;
  flex-direction: column;
}
label {
  margin-top: 10px;
  font-weight: bold;
}

.katik-input {
  outline: none;
  border-radius: 10px;
  padding: 8px;
  border: 1px solid #2ea774;
  margin-top: 20px;
}

.katik-input:focus {
  border: 1px solid rgb(199, 69, 18);
}

.btnNav {
  background-color: #2ea774;
  padding: 10px 20px;
  color: aliceblue;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.btnNav:hover {
  background-color: #1d6849;
}

.button {
  margin-top: 20px;
  display: flex;
  align-self: center;
  gap: 20px;
}
button {
  background-color: #2ea774;
  padding: 10px 20px;
  color: aliceblue;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #1d6849;
}

img {
  width: 500px;
  height: 300px;
}

ul {
list-style-type: none;
 }

@media (min-width: 390px), (max-width: 800px) {
  img {
    width: 400px;
    height: 300px;
  }
}
